---
Checks: "*,
        -abseil-*,
        -altera-*,
        -android-*,
        -fuchsia-*,
        -google-*,
        -llvm*,
        -modernize-use-trailing-return-type,
        -zircon-*,
        -readability-else-after-return,
        -readability-static-accessed-through-instance,
        -readability-avoid-const-params-in-decls,
        -cppcoreguidelines-*,
        -misc-non-private-member-variables-in-classes,
        -cppcoreguidelines-special-member-functions,
        -hicpp-special-member-functions,
"
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     none

CheckOptions:
  # 普通函数使用 camelBack
  - key: readability-identifier-naming.FunctionCase
    value: CamelCase
  # 类方法（包括静态和非静态成员函数）使用 PascalCase
  - key: readability-identifier-naming.ClassMethodCase
    value: CamelCase
  # 非静态成员函数使用 camelBack
  - key: readability-identifier-naming.MethodCase
    value: camelBack
  # 私有成员变量使用 _ 结尾
  - key: readability-identifier-length.MinimumVariableNameLength
    value: 2
  - key: readability-identifier-length.MinimumParameterNameLength
    value: 2 
  - key: readability-identifier-length.MinimumExceptionNameLength
    value: 1 
  - key: readability-identifier-length.IgnoredVariableNames
    value: 'x|y|z|i|j|k|a|b|c'
  - key: readability-identifier-length.IgnoredParameterNames
    value: 'x|y|z|i|j|k|a|b|c'
  - key: readability-identifier-length.IgnoredExceptionVariableNames
    value: '^[e]$'
